
body{
    background-color: lightgreen;
}

header{
	text-align: center;
	align-content: center;
}

#tabla1{
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 0.7cm;
    width: 300px;
    height: 177px;
    text-align: center;
}


#tabla{
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 0.7cm;
    width: 450px;
    height: 220px;
}

#inicio{
    text-align: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(187, 13, 13);
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

#principal{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#letraPeq{
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
